html {
  background-color: #3F403F;
}
body {
  background-image: url('/src/img/sillyheadshot1.png');
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
}
.header {
  color: #E6E8E6;
  text-shadow: 2px 2px 4px black;
}
.aboutMe {
  color: #CED0CE;
}